/***** GENERAL STYLES *****/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-section {
  margin-left: 250px;
  padding: 50px;
}

/***** PAGE STYLES *****/
main {
  padding-left: 250px;
}

/***** COMPONENT STYLES *****/
/* SideNavbar */
nav {
  width: 250px;
  height: 100vh;
  background: #eee;
}
nav li {
  list-style: none;
  text-decortation: none;
}

/* Job Form */
#dropdown-area {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
#customer-area {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#address {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  column-gap: 5px;
}
#parts-area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}
#parts-area .part-form {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  column-gap: 5px;
}
.form-btn {
  width: 100px;
}


// Autocomplete Search
.no-suggestions {
  color: #999;
  padding: 0.5rem;
}

.suggestions {
  border: 1px solid #999;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
  z-index: 2;
  width: calc(300px + 1rem);
}

.suggestions li {
  padding: 0.5rem;
}

.suggestion-active,
.suggestions li:hover {
  background-color: #008f68;
  color: #fae042;
  cursor: pointer;
  font-weight: 700;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}