/***** GENERAL STYLES *****/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-section {
  margin-left: 250px;
  padding: 50px;
}

/***** NAVBAR STYLES *****/
nav {
  width: 250px;
  height: 100vh;
  background: lightGray;
}
nav li {
  list-style: none;
  text-decortation: none;
}

/***** DASHBOARD STYLES *****/
#quick-actions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}
.quick-btn {
  width: 175px;
  height: 75px;
  border-radius: 20px;
}

/***** REQUEST FORM *****/
#dropdown-area {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
#customer-area {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#address {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  column-gap: 5px;
}
#parts-area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}
#parts-area .part-form {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  column-gap: 5px;
}
.form-btn {
  width: 100px;
}


.inventory-adjust-btn{
  margin-right: .2rem;
}

.inventory-edit-btn{
  margin-left: .3rem;
}

.inventory-adjust-btn, .inventory-edit-btn{
  /* margin-left: 1rem; */
  padding: .01rem;

}

.single-part-view input{
  width:100%;
}

.return-to-list-view-btn{
  background-color: grey;
  border-radius: 5%;
  padding: .1rem;
  color: white;

}
.return-to-list-view-btn-wrapper{
  margin: 1rem 0;
}

.return-to-list-view-btn:hover{
  cursor:pointer;

}
.part-input-wrapper{
  margin-bottom: 1rem;
}

.inventory-search-bar-wrapper{
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.mandatory{
  color: lightcoral;
}

.hidden{
  display: none;
}

.add-part-error, .add-part-sucess{
  margin-top: 2rem;
  font-size: 2rem;
}

.add-part-sucess{
  color: green;
}

.add-part-error {
  color: red;
}